<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>GTA V | Parser</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/Chart.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway@300,500,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="app">
    <h1>Dashboard</h1>
    <h3>Search for a server</h3>
    <input type="text" id="serverIp" placeholder="Enter server's ip">
    <button id="search">Search!</button>
    <div class="charts">
      <div class="flex">
        <canvas id="myChart" width="2" height="1"></canvas>
        <canvas id="myChartPeak" width="2" height="1"></canvas>
      </div>
      <canvas id="myChartMax" width="2" height="1"></canvas>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/sockets.js"></script>
  <script src="/js/Chart.js"></script>
  <script src="/js/chartBuilder.js"></script>
</body>