body {
  margin:0;

}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size:36px;
  line-height:0;
}
h3 {
  opacity:0.5;
  font-size:12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style:normal;
  padding-bottom:30px;
}
input {
  width:300px;
  height:25px;
  padding:5px 15px;
  font-family: 'Raleway', sans-serif;
  border-radius:5px;
  border:1px solid #505050;
}
input:focus {
  outline:none;
}
button {
  font-family: 'Raleway', sans-serif;
  padding: 8.5px 25px;
  border:1px solid black;
  background: transparent;
  border-radius:5px;
  transition: 0.2s all ease-in-out;
}
button:hover {
  background:rgb(20, 20, 20);
  color: white;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.app {
  margin:50px;
}
.app .charts {
  width:500px;
  height:100px;
}
.flex {
  display:flex;
}